<button routerLink="/" id="creerFilm">Retour à la liste des films</button>

<div id="divDetail">
    <div *ngIf="film" id="detailFilm">
        
        <div>Titre : {{ film.titre }}</div>
        <div>Synopsis : {{ film.synopsis }}</div>
        <div>Note : {{ film.note }}</div>
        <div id="buttons">
            <button *ngIf="film" class="boutonForm" [routerLink]="['/addOrEdit', film.id, film.titre.split(' ').join('-')]">Modifier le film</button>
            <button (click)="ngOnDelete(film.id)" class="boutonForm">Supprimer</button>
        </div>
    </div>
</div>

