
        <button  id="creerFilm" routerLink="/">Retour à la liste des films</button>
        <form *ngIf="!film" [formGroup]="AddOrEditForm" (ngSubmit)="onSubmit()">
        <div>
            <div for="titre">Titre: </div>
            <input formControlName="titre" id="titre" type="text" formControlName="titre">   
        </div>
        <div>
            <div for="synopsis">Synopsis: </div>
            <textarea formControlName="synopsis" id="synopsis" type="text" formControlName="synopsis"></textarea>
        </div>
        <div>
            <div for="note">Note / 5 : </div>
            <input formControlName="note" id="note" type="number" min="0" max="5" formControlName="note">
        </div>
        <div>
            <button type="submit" id="valider">Valider</button>
        </div>
        </form>

        <form *ngIf="film" [formGroup]="AddOrEditForm" (ngSubmit)="onSubmit()">
        <div>
            <div for="titre">Titre: </div>
            <input formControlName="titre" id="titre" type="text" value="'{{film.titre}}'" formControlName="titre">
        </div>
        <div>
            <div for="synopsis">Synopsis: </div>
            <textarea formControlName="synopsis" id="synopsis" type="text" [value]="film.synopsis" formControlName="synopsis"></textarea>
        </div>
        <div>
            <div for="note">Note / 5 : </div>
            <input formControlName="note" id="note" type="number" min="0" max="5" [value]="film.note" formControlName="note">
        </div>
        <div>
            <button type="submit" (click)="onSubmit()" id="valider">Valider</button>
        </div>
        </form>
